node_modules
/bazel-bin
/bazel-ci_build-cache
/bazel-genfiles
/bazel-out
/bazel-serving
/bazel-tensorflow
/bazel-tensorflow_serving
/bazel-testlogs
/bazel-tf
/bazel-workspace
/third_party/py/numpy/numpy_include
/util/python/python_include
/util/python/python_lib

*.jpg
release_models/
tensorflow_model_server
tensorflow_serving/servables/tensorflow/opencv2/
tensorflow_serving/servables/tensorflow/opencv3.4.1_so/
